<%= form_for(@user, html: { multipart: true, class: "dropzone"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :name %><br>
    <%= f.text_field :name %></br>
    </br></br>
    <% Photo.where(user_id: @user.id).each do |photo| %>
    <%= image_tag photo.image_url ,height: '200', width: '200'if photo.image?  %>
    <% end %>
  </div>
    <div class="fallback">
       <%= file_field_tag "images[]", type: :file, multiple: true%></br>
    </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>