<h1>New User</h1>

<%= form_for(@user, html: { multipart: true, class: "dropzone"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %></br>
    </br></br>
      </div>
    <div class="fallback">
       <%= file_field_tag "images[]", type: :file, multiple: true %></br>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', users_path %>
