<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
   <% Photo.where(user_id: @user.id).each do |photo| %>
  	<%= image_tag photo.image_url ,height: '200', width: '200'if photo.image?  %>
  	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>